body{
    background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    height: 500px;
    }
    .sun{
      align-items: center;
      justify-content: center;
      position: absolute;
      display: flex;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background: url('313364128_1713460059037561_1352343250297996578_n.jpg');
      background-size: 100px;
      background-repeat: no-repeat  ;
      background-position: center center;
      box-shadow: 1px 1px 30px 5px #008cff;
      
    }
    @keyframes pole-rotate {
        0% {
            background-position: center center;
        }
        50% {
            background-position: 50% 40%;
        }
        to {
            transform: rotate(360deg);
            background-position: center center;
        }
    }
    
        /* ---------- Container for the orbiting circles animation ---------- */
    #circle-orbit-container {
      padding-top: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1200px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    
    /* ---------- Mercury orbit - This is the circles closest to the sun ---------- */
    #Mercury-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border: 0.1px #837f7e solid ;
      border-radius: 100%;
      -webkit-animation: spin-right .5s linear infinite;
      animation: spin-right 5s linear infinite;
    }
    
    /* ---------- Repeating styles for the Mercury orbiting circles ---------- */
    .Mercury-orbit-cirlces {
      position: absolute;
      top: 70px;
      left: -6px;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: radial-gradient(at top, #dbdbdb, #454545);
      box-shadow: .5px  3px 5px black inset;
      animation : rotate 10s linear infinite;
    }
    
    /* ---------- venus orbit - This is the circles second closest to the central point ---------- */
    #venus-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
     /* top: 157.5px;
      left: 152.5px;*/
      width: 200px;
      height: 200px;
      border: 0.1px #8e4613 solid;
      border-radius: 100%;
      -webkit-animation: spin-right .8s linear infinite;
      animation: spin-right 8s linear infinite;
    }
    
    /* ---------- Repeating styles for the venus orbiting circles ---------- */
    .venus-orbit-cirlces {
      position: absolute;
      top: 30px;
      left: 15px;
      height: 15px;
      width: 15px;
      border-radius: 100%;
    background :url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/PIA00271_Venus_%28Computer_Simulated_Global_View_of_the_Northern_Hemisphere%29.jpg/600px-PIA00271_Venus_%28Computer_Simulated_Global_View_of_the_Northern_Hemisphere%29.jpg') no-repeat;
    background-size: 100% 100%;
    
      box-shadow: .5px  3px 5px black inset;
      animation : rotate 20s linear infinite;
    }
    
    
    /* ---------- earth orbit - This is the circles furthest away from the central point ---------- */
    #earth-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 270px;
      border: 0.1px #0f7dd1 solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 1s linear infinite;
      animation: spin-right 10s linear infinite;
    }
    
    /* ---------- Repeating styles for the earth orbiting circles ---------- */
    .earth-orbit-cirlces {
      position: absolute;
      top: -15px;
      left: 125px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Earth-DSCOVR-20150706-IFV.jpg/610px-Earth-DSCOVR-20150706-IFV.jpg');
        background-size: 120% 120% ;
      animation : rotate 20s linear infinite;
    }
    
    /* ---------- mars orbit - This is the circles furthest away from the central point ---------- */
    #mars-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: 340px;
      border: 0.1px rgb(231, 124, 9) solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 2s linear infinite;
      animation: spin-right 20s linear infinite;
    }
    
    /* ---------- Repeating styles for the earth orbiting circles ---------- */
    .mars-orbit-cirlces {
      position: absolute;
      top: -10px;
      left: 125px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Mars_23_aug_2003_hubble.jpg/267px-Mars_23_aug_2003_hubble.jpg');
        background-size: 100% 100%;
      animation : rotate 80s linear infinite;
    }
    
     /*---------- Jupiter orbit - This is the circles furthest away from the central point ---------- */
    #Jupiter-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 420px;
      height: 420px;
      border: 0.1px rgb(129, 111, 111) solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 11s linear infinite;
      animation: spin-right 110s linear infinite;
    }
    
    /* ---------- Repeating styles for the Jupiter orbiting circles ---------- */
    .Jupiter-orbit-cirlces {
      position: absolute;
      top: -5px;
      left: 125px;
      height: 32px;
      width: 32px;
      border-radius: 100%;
        background: url('https://solarsystem.nasa.gov/internal_resources/3794/');
        background-size: 150% 150%;
        background-position: center center;
      animation : rotate 200s linear infinite;
    }
    
     /*---------- Saturn orbit - This is the circles furthest away from the central point ---------- */
    #Saturn-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 500px;
      border: 0.1px rgb(233, 243, 124) solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 290s linear infinite;
    }
    
    /* ---------- Repeating styles for the Saturn orbiting circles ---------- */
    .Saturn-orbit-cirlces {
      position: absolute;
      top: -5px;
      left: 125px;
      height: 55px;
      width: 55px;
      border-radius: 100%;
        background: url('https://rwspace.ru/wp-content/uploads/2018/12/2-17.jpg');
        background-size: 100% 100%;
        background-position: center center;
      animation : rotate 320s linear infinite;
    }
    
    
     /*---------- Uranus orbit - This is the circles furthest away from the central point ---------- */
    #Uranus-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 580px;
      height: 580px;
      border: 0.1px rgb(185, 239, 247) solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 84s linear infinite;
      animation: spin-right 840s linear infinite;
    }
    
    /* ---------- Repeating styles for the earth orbiting circles ---------- */
    .Uranus-orbit-cirlces {
      position: absolute;
      top: 20px;
      left: 125px;
      height: 38px;
      width: 38px;
      border-radius: 100%;
    background: radial-gradient(circle at top, #a9f5f5, #3c7483);
      animation : rotate 340s linear infinite;
    }
    
    #Neptune-orbit {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 660px;
      height: 660px;
      border: 0.1px rgb(69, 105, 248) solid ;
      border-radius: 100%;
      -webkit-animation: spin-right 164s linear infinite;
      animation: spin-right 1640s linear infinite;
    }
    
    /* ---------- Repeating styles for the earth orbiting circles ---------- */
    .Neptune-orbit-cirlces {
      position: absolute;
      top: 45px;
      left: 125px;
      height: 30px;
      width: 30px;
      border-radius: 100%;
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Neptune_Full.jpg/600px-Neptune_Full.jpg');
        background-size: 120% 120%;
        background-position: center center;
      animation : rotate 360s linear infinite;
    }
    
    /* ---------- Animation ---------- */
    @-webkit-keyframes spin-right {
      100% {
    
        transform: rotate(360deg);
      }
    }
    @keyframes rotate {
      100% {
    
        transform: rotateZ(360deg);
      }
    }